* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-gap-sm {
  gap: 10px;
}
.border-blue {
  border: 3px dotted rgb(131, 131, 209);
}

.border-green {
  border: 3px dotted rgb(72, 200, 78);
}
.border-red {
  border: 3px dotted rgb(204, 97, 54);
}

body {
  display: flex;
  justify-content: center;
}

.linkedIn {
  background-color: rgba(161, 156, 156, 0.541);
  width: 1400px;
  //   overflow-y: hidden;
  display: grid;
  min-height: 100vh;
  text-align: center;
  grid-gap: 1.3rem;
  grid-template:
    ".header-up header-up header-up ." 90px
    ".left       main     right ." 1fr /
    6px 1.3fr 4fr 1.3fr 7%;

  .header-upper > * {
    background-color: white;
  }
  .main > * {
    background-color: white;
  }
  .left-side > * {
    background-color: white;
  }
  .right-side > * {
    background-color: white;
  }

  .header-upper {
    margin-top: 2rem;
    grid-area: header-up;
    display: grid;
    grid-template-columns: 50px 1fr minmax(200px, 0.5fr);

    .search-bar {
      display: grid;
      align-items: center;
      padding: 6px;

      &__inner {
        padding: 6px;
        background-color: rgba(158, 154, 154, 0.267);
        border: 2.5px solid black;
        border-radius: 8px;
        width: 40%;
        height: 100%;
      }
    }

    .navigation ul {
      height: 100%;
      grid-template-columns: 3/4;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 7px;
      padding: 4px;

      li {
        list-style: none;
        border: 3px dotted rgb(72, 200, 78);
      }
    }
  }

  .left-side {
    grid-area: left;

    .profile {
      height: 43%;
      padding: 6px;
      //   gap: 5px;
      //   display: grid;
      //   grid-template-rows: 3fr 1fr 1fr 1fr;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &--img {
        height: 50%;
      }
      &--data-1 {
        height: 14%;
      }
      &--data-2 {
        height: 14%;
      }
      &--data-3 {
        height: 14%;
      }
      margin-bottom: 1rem;
    }

    .left-middle {
      height: 23%;
      margin-bottom: 1rem;
    }

    .left-bottom {
      height: 23%;
    }
  }
  .main {
    grid-area: main;

    &-header {
      width: 100%;
      height: 7rem;
      padding: 4px;
      margin-bottom: 1.3rem;

      &__post {
        width: 100%;
        height: 45%;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 30px 1fr;
        padding: 3px;

        &--img {
          grid-template-columns: 1/2;
          border-radius: 50%;
        }

        &--comment {
          grid-template-columns: 2/3;
        }
      }

      &__sub-menu {
        width: 100%;
        height: 45%;
        ul {
          padding: 2px;
          display: grid;
          height: 100%;
          grid-template-columns: repeat(4, 1fr);
          gap: 6px;
          li {
            list-style-type: none;
            border: 3px dotted red;
          }
        }
      }
    }

    &-feed {
      overflow-y: scroll;
      max-height: calc(85vh - 7.3rem);
      width: 100%;

      padding: 1rem;

      & .feeds {
        height: 30rem;
        margin-top: 2rem;
      }
    }
  }

  .right-side {
    grid-area: right;

    & .news--data-1 {
      gap: 5px;
      display: grid;
      grid-template-rows: repeat(5, fr);
      height: 35%;
      padding: 6px;

      li {
        list-style-type: none;
      }
    }

    & .news--data-2 {
      height: 23%;
      margin-top: 1rem;
    }
    & .news--data-3 {
      margin-top: 1rem;
      height: 23%;
    }
  }
}
