* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-gap-sm {
  gap: 10px;
}
.border-blue {
  border: 3px dotted rgb(131, 131, 209);
}

.border-green {
  border: 3px dotted rgb(72, 200, 78);
}
.border-red {
  border: 3px dotted rgb(204, 97, 54);
}

@import "linkedIn";
@import "discord";
